@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-hidden;
}

.photo img {
  width: auto !important;
  height: 100% !important;
}

.origin-top {
  transform-origin: top center;
}
