@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this CSS to your global stylesheet or within a <style jsx> block in your component if using styled-jsx */
.photo img {
    object-fit: contain !important;
    position: absolute !important;
    top: 0 !important;      /* Aligns image to the top of the container */
    right: 0 !important;    /* Aligns image to the right of the container */
    bottom: 0 !important;   /* Ensures full height coverage */
    left: auto !important;  /* Ensures the image is not stretched to full width */
    width: unset !important;
}

.origin-top {
    transform-origin: top;
}

.random-grid {
    position: relative;
    width: 100%;
    height: 200vh; /* Adjust this height as needed */
  }
  
  .random-image {
    position: absolute;
    transition: transform 0.3s ease-in-out;
  }
  
  .random-image img {
    display: block;
    width: 100%;
    height: auto;
  }
  

